p:first-child {
    margin: 0 auto;
}

.task {
    padding: 0.5%;
    border-bottom: 1px dashed black;
}

.task:last-child {
    border:none;
}

@media screen and (max-width: 576px) {
    p {
        margin-left: 10%;
    }
}

@media screen and (min-width: 768px) {
    p {
        margin-left: 4%;
    }
}

@media screen and (min-width: 992px) {
    p {
        margin-left: 2%;
    }
}