h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
}

h2 {
    font-size: 1.8em;
    font-family: 'Istok Web', sans-serif;
    margin: 1% 3%;
}

h3 {
    font-size: 1.3em;
}

mark {
    padding: 0.4%;
}

p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

section, main {
    margin: 0 6%;
}

pre {
    color: #666;
}

table td {
    text-align: center;
}

.red {
    color: red;
    font-weight: 500;
    font-style: italic;
}

.blue {
    color: blue;
    font-weight: 500;
}

.green {
    color: green;
    font-weight: 500;
}

li {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0.8rem;
} 

nav>ul>li {
    float: left;
    margin-left: 0.1rem;
}

.current_location {
    text-decoration: none;
    color: grey;
}

/* стиль для списка на заглавной странице */
main>ul>li {
    font-family: 'Roboto', sans-serif;
}